# Auth
JWT_SECRET=

# Blockchain
RPC_URL=
TOKEN_TRANSFER_CONTRACT_ID=
GROUP_TREASURY_CONTRACT_ID=
PROPOSALS_CONTRACT_ID=

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# AI Service
OPENAI_API_KEY=

# Messaging
XMTP_ENV=dev